body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
li {
  list-style: none;
}

.done {
  text-decoration: line-through;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  min-width: 80px;
  background: wheat;
  border: none;
  padding: 3px;
  cursor: pointer;
  border: 1px solid black;
  margin: 0 3px;
  border-radius: 4px;
}
.item__container {
  display: flex;
}

.item {
  /* background: grey; */
  padding: 10px 20px;
  width: 100%;
  border: 1px solid black;
}

.modal {
  background: wheat;
  /* width: 100%;
  height: 100vh; */
  position: absolute;
  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0; */
  inset: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  width: 500px;
  aspect-ratio: 1/1;
  background: grey;

  position: relative;
}

.modal__btn {
  position: absolute;
  right: 0;
}
